<footer class="footer">
  <p>開発者情報</p>
  <nav>
    <ul>
      <li><%= link_to "Twitter",'https://twitter.com/ddpmntcpbr' %></li>
      <li><%= link_to "Github", 'https://github.com/ddpmntcpbr/expense-app' %></li>
      <li><%= link_to "Qiita", 'https://qiita.com/ddpmntcpbr' %></li>
    </ul>
  </nav>
</footer>
